<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="https://www.dei.gr/ebill/Content/Style/EBill.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="EBill" >
        <table class="MailTable" width="100%">
            <tr>
                <td align="left">
                    <img src="https://www.dei.gr/ebill/MasterContent/images/LOGO_DEH_Slogan_GR_1.png" />
                </td>
                <td align="right">
                    <img src="https://www.dei.gr/ebill/MasterContent/images/e_Bill_2.png" />
                </td>
            </tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
            <tr>
                <td colspan="2">
                    Αγαπητέ πελάτη,
					<br />
					<br />
                    Θα θέλαμε να σας ενημερώσουμε ότι εκδόθηκε ο λογαριασμός σας, με τα ακόλουθα στοιχεία :
                    <br />
					<br />
                    Λογαριασμός Συμβολαίου : <b>012345678901</b>
                    <br />
					ΚΩΔΙΚΟΣ ΗΛΕΚΤΡΟΝΙΚΗΣ ΠΛΗΡΩΜΗΣ : <b>RF00000000000012345678901</b>
					<br />
					Ποσό  :  <b>150,00 €</b>
					<br />
					Ημερομηνία λήξης : <b>11/11/2019</b>
					<br />
					<br />
					και είναι διαθέσιμος μέσω της υπηρεσίας e-bill της ΔΕΗ.
					<br />
					<br />
                    Για να δείτε, να εκτυπώσετε και να αρχειοθετήσετε τους λογαριασμούς σας, <a href="https://www.dei.gr/ebill/Default.aspx?CustomerCode=987654321098" target="_blank">πατήστε εδώ</a>.
                    <br />
                    <br />
                    Για να εξοφλήσετε  εύκολα το λογαριασμό σας ηλεκτρονικά με χρεωστική, πιστωτική ή προπληρωμένη κάρτα, <a href="https://epos.dias.com.gr/emerchant/dei-paybill/input.html?language=el" target="_blank">πατήστε εδώ</a>.

                    </td>
            </tr>
            <tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
            </tr>
			<tr>
				<td colspan="2">
                        Με εκτίμηση<br />
                        Υπηρεσία Υποστήριξης e-bill
				</td>
			</tr>
            <tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
            </tr>
			<tr>
				<td colspan="2">
				    <p>
                        <i>
                        Αυτό το μήνυμα στάλθηκε αυτόματα κατόπιν αιτήματος σας. Παρακαλούμε μην απαντήσετε σε αυτό το μήνυμα.
                            <br />
                        Εάν δεν επιθυμείτε να λαμβάνετε αυτές τις ειδοποιήσεις, <a href="https://www.dei.gr/ebill/Default.aspx?CustomerCode=012345678901" target="_blank">πατήστε εδώ</a>
                        </i>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr/>
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
            <tr>
                <td colspan="2">
                    Dear Customer,
					<br />
					<br />
                    We would like to inform you that your invoice has been issued, as follows :
                    <br />
					<br />
                    Contract Account : <b>012345678901</b>
                    <br />
					e-payment code (ΚΩΔΙΚΟΣ ΗΛΕΚΤΡΟΝΙΚΗΣ ΠΛΗΡΩΜΗΣ) : <b>RF00000000000012345678901</b>
					<br />
				    Total amount due : <b>150,00 €</b>
					<br />
					Expiration date :<b> 11/11/2019</b>
					<br />
					<br />
					Your invoice is now available through the e-bill service.
                    <br />
					<br />
                    To access the e-bill service and view your invoice, print or save a copy, please <a href="https://www.dei.gr/ebill/Default.aspx?CustomerCode=987654321098" target="_blank">click here</a> to connect.
                    <br />
                    <br />
                    To easily pay your bill using your debit, credit or prepaid card, please <a href="https://epos.dias.com.gr/emerchant/dei-paybill/input.html?language=en" target="_blank">click here</a>.
                    </td>
            </tr>
            <tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
            </tr>
			<tr>
				<td colspan="2">
                        Best regards,<br />
                        e-bill Team
				</td>
			</tr>
            <tr>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
            </tr>
			<tr>
				<td colspan="2">
				    <p>
                        <i>
                            This is an automatically created mail, as you requested. Please do not reply.
                            <br />
                            If you no longer wish to receive these notifications please <a href="https://www.dei.gr/ebill/Default.aspx?CustomerCode=012345678901" target="_blank">click here</a>
                        </i>
					</p>
				</td>
			</tr>
            </table>



		</div>
</body>
</html>
