{:paths    ["src"
            "resources"]
 :jvm-opts ["-Duser.timezone=UTC"
            "-XX:-OmitStackTraceInFastThrow"]
 :deps     {org.clojure/clojure                 {:mvn/version "1.10.1"}
            org.clojure/tools.logging           {:mvn/version "1.1.0"}
            expound/expound                     {:mvn/version "0.8.6"}
            clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
            me.raynes/fs                        {:mvn/version "1.4.6"}

            ;; web
            clj-http/clj-http                   {:mvn/version "3.10.0"}
            hickory/hickory                     {:mvn/version "0.7.1"}
            etaoin/etaoin                       {:mvn/version "0.4.0"}}
 :aliases  {:dev  {:extra-paths ["dev"
                                 "test"
                                 "test-resources"]
                   :extra-deps  {org.clojure/tools.namespace {:mvn/version "0.2.11"}
                                 lambdaisland/kaocha         {:mvn/version "1.0.700"}
                                 rewrite-clj/rewrite-clj     {:mvn/version "0.6.1"}}}
            :test {:extra-paths ["test"
                                 "test-resources"]
                   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.700"}}
                   :main-opts   ["-m" "kaocha.runner" "--config-file" "kaocha.edn"]}}}
