{:paths    ["src"
            "resources"]
 :jvm-opts ["-Duser.timezone=UTC"
            "-XX:-OmitStackTraceInFastThrow"]
 :deps     {org.clojure/clojure       {:mvn/version "1.10.1"}
            org.clojure/tools.logging {:mvn/version "0.5.0"}
            expound                   {:mvn/version "0.7.2"}
            clojure.java-time         {:mvn/version "0.3.2"}

            ;; web
            clj-http {:mvn/version "3.10.0"}
            hickory  {:mvn/version "0.7.1"}
            etaoin   {:mvn/version "0.3.6"}}
 :aliases  {:dev  {:extra-paths ["dev"
                                 "test"
                                 "test-resources"]
                   :extra-deps  {org.clojure/tools.namespace {:mvn/version "0.2.11"}
                                 lambdaisland/kaocha         {:mvn/version "0.0-418"}
                                 rewrite-clj                 {:mvn/version "0.6.1"}}}
            :test {:extra-paths ["test"
                                 "test-resources"]
                   :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-418"}}
                   :main-opts   ["-m" "kaocha.runner" "--config-file" "kaocha.edn"]}}}

