{:delilah/cache-dir "~/.cache/delilah"
 :driver            {:type        :firefox
                     :path-driver "~/.cache/delilah/webdrivers/geckodriver"
                     :headless    true}
 :delilah.dei-mailer/imap   "imap.gmail.com"
 :delilah.dei-mailer/port   587
 :delilah.dei-mailer/tls    true
 :delilah.dei-mailer/folder "[Gmail]/All Mail"
 :delilah.dei-mailer/search "ΔΕΗ e-bill"}
