[{:id          :v1/start-date
  :x           120
  :y           120
  :w           45
  :h           10
  :page-number 0}
 {:id          :v1/end-date
  :x           175
  :y           120
  :w           45
  :h           10
  :page-number 0}
 {:id          :v1/period-length
  :x           210
  :y           140
  :w           25
  :h           10
  :page-number 0}
 {:id          :v1/power-consumption
  :x           170
  :y           150
  :w           40
  :h           10
  :page-number 0}
 {:id          :v1/bill-type
  :x           120
  :y           90
  :w           100
  :h           20
  :page-number 0}
 {:id          :v1/e-payment-code
  :x           0
  :y           510
  :w           300
  :h           30
  :page-number 0}
 {:id          :v1/expiration-date
  :x           180
  :y           540
  :w           100
  :h           30
  :page-number 0}
 {:id          :v1/amount
  :x           510
  :y           540
  :w           300
  :h           30
  :page-number 0}
 {:id          :v2/start-date
  :x           440
  :y           480
  :w           50
  :h           30
  :page-number 0}
 {:id          :v2/end-date
  :x           500
  :y           480
  :w           60
  :h           40
  :page-number 0}
 {:id          :v2/period-length
  :x           440
  :y           500
  :w           50
  :h           30
  :page-number 0}
 {:id          :v2/power-consumption
  :x           440
  :y           440
  :w           150
  :h           50
  :page-number 0}
 {:id          :v2/bill-type
  :x           20
  :y           300
  :w           150
  :h           20
  :page-number 0}
 {:id          :v2/e-payment-code
  :x           50
  :y           230
  :w           300
  :h           30
  :page-number 0}
 {:id          :v2/expiration-date
  :x           310
  :y           360
  :w           100
  :h           30
  :page-number 0}
 {:id          :v2/amount
  :version     2
  :x           310
  :y           320
  :w           100
  :h           30
  :page-number 0}]
