[{:start "7/12/2020 8:00:00 πμ",
  :end "7/12/2020 2:30:00 μμ",
  :municipality "ΚΕΡΑΤΣΙΝΙΟΥ",
  :affected-areas [{:to-street "ΑΓ.ΠΑΝΤΕΛΕΗΜΟΝΟΣ",
                    :from-street "ΒΕΝΙΖΕΛΟΥ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΚΑΖΑΝΤΖΑΚΗ",
                    :to "02:30 μμ"}
                   {:to-street "ΜΟΝΕΜΒΑΣΙΑΣ",
                    :from-street "ΑΝΑΛΗΨΕΩΣ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΤΑΞΙΑΡΧΩΝ",
                    :to "02:30 μμ"}
                   {:to-street "ΑΓ.ΠΑΝΤΕΛΕΗΜΟΝΟΣ",
                    :from-street "ΕΘΝ.ΑΝΤΙΣΤΑΣΕΩΣ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "Κ.ΠΑΛΑΜΑ",
                    :to "02:30 μμ"}
                   {:to-street "ΜΟΝΕΜΒΑΣΙΑΣ",
                    :from-street "ΒΕΝΙΖΕΛΟΥ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "Γ.ΑΦΑΡΑ",
                    :to "02:30 μμ"}
                   {:to-street "ΤΑΞΙΑΡΧΩΝ",
                    :from-street "Γ.ΑΦΑΡΑ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΜΟΝΕΜΒΑΣΙΑΣ",
                    :to "02:30 μμ"}
                   {:to-street "ΚΑΖΑΝΤΖΑΚΗ",
                    :from-street "Γ.ΑΦΑΡΑ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΑΝΑΛΗΨΕΩΣ",
                    :to "02:30 μμ"}
                   {:to-street "ΚΑΖΑΝΤΖΑΚΗ",
                    :from-street "ΑΓ.ΦΑΝΟΥΡΙΟΥ",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΒΕΝΙΖΕΛΟΥ",
                    :to "02:30 μμ"}
                   {:to-street "ΕΡ.ΣΤΑΥΡΟΥ",
                    :from-street "Κ.ΠΑΛΑΜΑ",
                    :from nil,
                    :affected-numbers "Μονά",
                    :street "ΑΓ.ΠΑΝΤΕΛΕΗΜΟΝΟΣ",
                    :to nil}],
  :note-id nil,
  :cause "Κατασκευές"}
 {:start "7/12/2020 8:00:00 πμ",
  :end "7/12/2020 3:00:00 μμ",
  :municipality "ΙΛΙΟΥ",
  :affected-areas ["ΠΑΡΟΥ - ΣΠΕΤΣΩΝ - ΜΠΙΜΠΙΖΑ - ΜΥΚΟΝΟΥ - ΑΝΔΡΟΥ - 3ης ΟΡΕΙΝΗΣ ΤΑΞΙΑΡΧΙΑΣ - ΕΛ ΑΛΑΜΕΙΝ - Μ.ΑΝΑΤΟΛΗΣ - ΤΕΝΕΔΟΥ - ΚΩ - Λ.ΧΑΣΙΑΣ(Λ.ΦΥΛΗΣ) - ΠΑΤΡΟΚΛΟΥ - ΙΜΒΡΟΥ"],
  :note-id "444",
  :cause "Λειτουργία"}
 {:start "7/12/2020 8:00:00 πμ",
  :end "7/12/2020 3:00:00 μμ",
  :municipality "ΠΑΛ.ΦΑΛΗΡΟΥ",
  :affected-areas [{:to-street "",
                    :from-street "",
                    :from "08:00 πμ",
                    :affected-numbers "Μονά",
                    :street "ΜΟΥΣΩΝ ΝΟ 39",
                    :to "03:00 μμ"}],
  :note-id "518",
  :cause "Κατασκευές"}
 {:start "7/12/2020 8:30:00 πμ",
  :end "7/12/2020 4:30:00 μμ",
  :municipality "ΑΙΓΙΝΑΣ",
  :affected-areas [{:to-street "",
                    :from-street "",
                    :from "08:30 πμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΠΕΡΙΟΧΗ ΣΦΕΝΤΟΥΡΙΟΥ - ΑΓ ΔΙΟΝΥΣΙΟΣ",
                    :to "04:30 μμ"}],
  :note-id nil,
  :cause "Συντήρηση"}
 {:start "7/12/2020 9:00:00 πμ",
  :end "7/12/2020 3:00:00 μμ",
  :municipality "Π.ΨΥΧΙΚΟΥ",
  :affected-areas ["ΠΕΛΑΤΕΣ ΕΠΙ ΤΩΝ ΟΔΩΝ:ΜΠΕΝΑΚΗ, ΑΡΣΑΚΗ, ΝΤΕΪΒΙΣ."],
  :note-id "852",
  :cause "Συντήρηση"}
 {:start "7/12/2020 12:00:00 μμ",
  :end "7/12/2020 3:30:00 μμ",
  :municipality "ΑΘΗΝΑΙΩΝ",
  :affected-areas [{:from "12:00 μμ",
                    :affected-numbers "Ζυγά",
                    :street "ΨΥΤΑΛΕΙΑΣ Νο 12",
                    :to "03:30 μμ"}],
  :note-id "988",
  :cause "Λειτουργία"}
 {:start "7/12/2020 1:00:00 μμ",
  :end "7/12/2020 5:00:00 μμ",
  :municipality "ΙΛΙΟΥ",
  :affected-areas ["ΚΛΕΙΣΟΥΡΑΣ - ΖΑΓΟΡΙΟΥ - ΚΕΡΑΣΟΒΟΥ - ΔΑΒΑΚΗ - ΚΑΡΑΙΣΚΑΚΗ - ΜΑΚΕΔΟΝΙΑΣ - ΕΛΑΙΩΝ - ΔΕΛΗΓΙΑΝΝΗ - ΤΕΠΕΛΕΝΙΟΥ"],
  :note-id "445",
  :cause "Κατασκευές"}
 {:start "7/12/2020 2:00:00 μμ",
  :end "7/12/2020 4:00:00 μμ",
  :municipality "ΑΘΗΝΑΙΩΝ",
  :affected-areas [{:to-street "ΦΑΙΔΡΙΑΔΩΝ",
                    :from-street "ΚΡΙΣΣΗΣ",
                    :from "02:00 μμ",
                    :affected-numbers "Μονά/Ζυγά",
                    :street "ΒΩΜΟΥ",
                    :to "04:00 μμ"}
                   {:to-street "ΒΩΜΟΥ",
                    :from-street "ΚΟΥΤΛΑΙΟΥ",
                    :from "02:00 μμ",
                    :to "04:00 μμ",
                    :affected-numbers "Ζυγά",
                    :street "ΦΑΙΔΡΙΑΔΩΝ"}
                   {:to-street "ΑΕΤΩΝ",
                    :from-street "ΚΟΥΤΛΑΙΟΥ",
                    :from "02:00 μμ",
                    :affected-numbers "Μονά",
                    :street "ΚΡΙΣΣΗΣ",
                    :to "04:00 μμ"}
                   {:to-street "ΒΩΜΟΥ",
                    :from-street "ΑΕΤΩΝ",
                    :from "02:00 μμ",
                    :affected-numbers "Ζυγά",
                    :street "ΚΡΙΣΣΗΣ",
                    :to "04:00 μμ"}
                   {:from "02:00 μμ",
                    :affected-numbers "Ζυγά",
                    :street "ΑΕΤΩΝ  Νο 6",
                    :to "04:00 μμ"}],
  :note-id "987",
  :cause "Λειτουργία"}]
