#kaocha/v1
{:tests                              [{:id                      :deddie
                                       :test-paths              ["../../bases/deddie/test"]
                                       :source-paths            ["../../components/common_parser/src"
                                                                 "../../bases/deddie/src"]
                                       :ns-patterns             ["-test$"]}]
 :color?                             true
 :kaocha/reporter                    [kaocha.report/documentation]
 :plugins                            [:kaocha.plugin/hooks
                                      :kaocha.plugin/notifier
                                      :kaocha.plugin/profiling
                                      :kaocha.plugin/print-invocations
                                      :kaocha.plugin/orchestra
                                      #_:kaocha.plugin/preloads]
 :kaocha.plugin/randomize            true
 :kaocha.plugin.profiling/profiling? true
 :kaocha.plugin.profiling/count      5}
